<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:35</td>  <td>Introduction to Pipelining</td> </tr>
      <tr> <td>10:50</td>  <td>Review of Unix Shell</td> </tr>
      <tr> <td>11:15</td>  <td>Makefiles</td> </tr>
      <tr> <td>11:40</td>  <td>Automatic Variables</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:35</td>  <td>Review</td> </tr>
      <tr> <td>10:45</td>  <td>Dependencies on Data and Code</td> </tr>
      <tr> <td>11:00</td>  <td>Pattern Rules</td> </tr>
      <tr> <td>11:10</td>  <td>Variables</td> </tr>
      <tr> <td>11:30</td>  <td>Functions</td> </tr>
      <tr> <td>11:55</td>  <td>Conclusion</td> </tr>
    </table>
  </div>
</div>
